altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
gitdb
GitPython
google-auth
google-genai
h11
httpcore
httpx
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
lime
MarkupSafe
matplotlib
narwhals
numpy
opencv-python
packaging
pandas
pillow
plotly
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
python-dateutil
pytz
referencing
requests
rpds-py
rsa
scikit-image
scikit-learn
seaborn
setuptools
shap
six
smmap
sniffio
statsmodels
streamlit
streamlit-timeline
tenacity
tensorflow
toml
tornado
typing_extensions
typing-inspection
tzdata
urllib3
websockets
wheel
