# Core Libraries
streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
scikit-image
statsmodels
plotly
altair
google-genai
streamlit-timeline

# System & Utils
psutil
GitPython
tenacity
requests
Pillow
pydeck
pyarrow

# Model Explainability
shap
lime

# Machine Learning (CPU Only for Streamlit Cloud)
tensorflow-cpu
